<h2>*ngIf</h2>

<h4><strong>Primeiro exemplo:</strong></h4>
<div *ngIf="cursos.length > 0">
  Lista de cursos aqui.
</div>
<div *ngIf="cursos.length == 0">
  Não existem cursos para serem listados.
</div>
<br>

<h4><strong>Segundo exemplo:</strong></h4>
<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<div *ngIf="!mostrarCursos">
  Não existem cursos para serem listados.
</div>
<br>

<h4><strong>Terceiro exemplo (usando else):</strong></h4>
<div *ngIf="mostrarCursos; else cursosVazio">
  Lista de cursos aqui.
</div>
<ng-template #cursosVazio>
  Não existem cursos para serem listados.
</ng-template> <br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button> <br>
<br>

<h4>hidden como alternativa</h4>
<div [hidden]="!mostrarCursos">
  Lista de cursos aqui.
</div>
<div [hidden]="mostrarCursos">
  Não existem cursos para serem listados.
</div>
<br>

<h4>Removendo * e usando template</h4>
<div *ngIf="mostrarCursos">

</div>

<ng-template [ngIf]="mostrarCursos">
  <div>Lista de cursos aqui.</div>
</ng-template>
